@font-face {
  font-family: "Khula Light";
  src: url("../font/Khula-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Khula Regular";
  src: url("../font/Khula-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Khula Bold";
  src: url("../font/Khula-Bold.ttf") format("truetype"); }
body {
  background-color: #f1f1f1; }
  body header .bg-light .container .row .col-md-9 {
    height: 35px; }
    body header .bg-light .container .row .col-md-9 ul {
      padding-left: 0;
      margin-bottom: 0; }
      body header .bg-light .container .row .col-md-9 ul li {
        vertical-align: middle;
        margin: 0;
        font-size: 14px; }
        body header .bg-light .container .row .col-md-9 ul li i {
          font-size: 16px;
          color: rgba(255, 118, 0, 0.67); }
  body header .bg-light .container .row .col-md-3 {
    height: 35px; }
    body header .bg-light .container .row .col-md-3 ul {
      padding-left: 0; }
      body header .bg-light .container .row .col-md-3 ul li {
        font-size: 14px;
        vertical-align: middle; }
        body header .bg-light .container .row .col-md-3 ul li .dropdown .btn {
          height: 35px;
          width: 100px;
          border-radius: 0;
          background-color: #c6c6c6;
          border: none;
          color: black; }
  body header .bg-white .container .row .col-md-4 img {
    margin-top: 20px; }
  body header .bg-white .container .row .col-md-6 ul {
    padding-left: 0; }
    body header .bg-white .container .row .col-md-6 ul li i {
      color: rgba(255, 118, 0, 0.67); }
  body header .bg-white .container .row .col-md-6 .input-group {
    border: 3px solid #dcdcdc; }
    body header .bg-white .container .row .col-md-6 .input-group .input-group-prepend {
      background-color: rgba(239, 239, 239, 0.73); }
    body header .bg-white .container .row .col-md-6 .input-group .input-group-append {
      background-color: rgba(166, 0, 0, 0.69); }
      body header .bg-white .container .row .col-md-6 .input-group .input-group-append .btn {
        color: white;
        font-size: 20px; }
    body header .bg-white .container .row .col-md-6 .input-group input {
      width: 220px;
      height: 45px; }
  body header .bg-white .container .row .col-md-2 {
    padding-top: 65px; }
    body header .bg-white .container .row .col-md-2 .btn {
      height: 49px;
      border-radius: 0;
      border: 3px solid #eeeeee; }
      body header .bg-white .container .row .col-md-2 .btn b {
        font-size: 14px;
        color: white; }
      body header .bg-white .container .row .col-md-2 .btn i {
        color: white; }
    body header .bg-white .container .row .col-md-2 .dropdown-menu {
      margin-left: -118px;
      width: 280px;
      border-radius: 0; }
      body header .bg-white .container .row .col-md-2 .dropdown-menu h6 {
        font-size: 12px;
        color: #8b959b; }
      body header .bg-white .container .row .col-md-2 .dropdown-menu p {
        color: #62686e; }
        body header .bg-white .container .row .col-md-2 .dropdown-menu p b:nth-child(1) {
          float: left;
          font-size: 12px; }
        body header .bg-white .container .row .col-md-2 .dropdown-menu p b:nth-child(2) {
          float: right;
          font-size: 16px;
          color: #7e868c; }
  body nav {
    background-color: rgba(187, 202, 208, 0.85); }
    body nav ul {
      padding-left: 10px; }
      body nav ul li a {
        font-size: 20px;
        color: black; }
  body .Shop_list .container .row .col-md-3 .row {
    margin: 0;
    height: 50px;
    border-bottom: 2px solid #b5b6b8; }
    body .Shop_list .container .row .col-md-3 .row .col-md-2 {
      padding-left: 12px; }
      body .Shop_list .container .row .col-md-3 .row .col-md-2 i {
        color: white;
        font-size: 22px;
        padding-top: 14px;
        padding-right: 9px; }
    body .Shop_list .container .row .col-md-3 .row .col-md-10 b {
      color: white;
      font-size: 24px;
      margin-top: 7px;
      display: block; }
  body .Shop_list .container .row .col-md-3 p {
    margin-left: 20px;
    margin-top: 25px; }
  body .Shop_list .container .row .col-md-3 .write .progress {
    position: relative;
    overflow: visible;
    margin: 0 25px;
    border-radius: 0;
    height: 10px; }
    body .Shop_list .container .row .col-md-3 .write .progress .progress-circle:nth-child(1) {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 2px solid #e1234b;
      background-color: #ffffff;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%); }
    body .Shop_list .container .row .col-md-3 .write .progress .progress-circle:nth-child(2) {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 2px solid #e1234b;
      background-color: #ffffff;
      right: 0;
      top: -100%;
      transform: translate(50%, 50%); }
    body .Shop_list .container .row .col-md-3 .write .progress .progress-bar {
      background-color: #e1234b;
      width: 100%; }
  body .Shop_list .container .row .col-md-3 .write .text-uppercase {
    color: #4b5056; }
  body .Shop_list .container .row .col-md-3 .write p {
    color: #747474; }
    body .Shop_list .container .row .col-md-3 .write p .fa-pound-sign {
      color: #8e8e8e; }
  body .Shop_list .container .row .col-md-3 .write ul li {
    color: #747474;
    font-size: 14px; }
    body .Shop_list .container .row .col-md-3 .write ul li a {
      text-decoration: none;
      color: #747474; }
    body .Shop_list .container .row .col-md-3 .write ul li i {
      vertical-align: center;
      font-size: 10px; }
  body .Shop_list .container .row .col-md-3 .door {
    margin-top: 40px; }
    body .Shop_list .container .row .col-md-3 .door p {
      font-size: 24px; }
    body .Shop_list .container .row .col-md-3 .door ul li {
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: rgba(198, 198, 198, 0.77);
      font-size: 12px; }
  body .Shop_list .container .row .col-md-3 .summer {
    margin-top: 40px; }
    body .Shop_list .container .row .col-md-3 .summer p:nth-child(1) {
      font-size: 24px; }
    body .Shop_list .container .row .col-md-3 .summer p:nth-child(2) {
      font-size: 13px;
      color: #4e555b; }
    body .Shop_list .container .row .col-md-3 .summer p {
      font-size: 14px; }
      body .Shop_list .container .row .col-md-3 .summer p button {
        margin-left: 80px;
        font-size: 13px;
        border-radius: 0;
        padding: 7px 20px; }
  body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(1) ul {
    margin-bottom: 0;
    padding: 0; }
    body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(1) ul li:nth-child(1) i {
      color: black;
      padding: 10px;
      font-size: 22px; }
    body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(1) ul li:nth-child(2) i {
      color: white;
      padding: 10px;
      font-size: 22px; }
  body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(2) {
    padding-right: 10px; }
    body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(2) .dropdown .btn {
      background-color: #8b959b;
      font-size: 14px;
      border-radius: 0;
      height: 44px; }
    body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(2) .dropdown .dropdown-menu {
      width: 230px;
      margin-left: -180px;
      margin-top: 10px; }
      body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(2) .dropdown .dropdown-menu a {
        line-height: 24px;
        color: rgba(151, 163, 169, 0.67);
        font-size: 14px; }
    body .Shop_list .container .row .col-md-9 .row .col-md-6:nth-child(2) button {
      background-color: #8b959b;
      font-size: 14px;
      border-radius: 0;
      height: 44px; }
  body .Shop_list .container .row .col-md-9 .row .col-md-8 p:nth-child(1) {
    font-size: 15px;
    color: rgba(41, 41, 41, 0.67); }
  body .Shop_list .container .row .col-md-9 .row .col-md-8 p:nth-child(2) i {
    color: #fdb517;
    font-size: 11px; }
  body .Shop_list .container .row .col-md-9 .row .col-md-8 p:nth-child(3) {
    line-height: 28px;
    font-size: 13px;
    color: #a9a9a9; }
  body .Shop_list .container .row .col-md-9 .row .col-md-8 .d-flex .w-50:nth-child(1) .text-secondary {
    font-size: 15px; }
  body .Shop_list .container .row .col-md-9 .row .col-md-8 .d-flex .w-50:nth-child(1) i {
    font-size: 20px;
    color: rgba(255, 0, 0, 0.51); }
  body .Shop_list .container .row .col-md-9 .row .col-md-8 .d-flex .w-50:nth-child(1) b {
    font-size: 20px;
    color: rgba(255, 0, 0, 0.51); }
  body .Shop_list .container .row .col-md-9 .row .col-md-4 img {
    width: 250px;
    height: 270px; }
  body .Shop_list .container .row .col-md-9 .pt-5 .col ul li:nth-child(1) {
    font-size: 12px; }
    body .Shop_list .container .row .col-md-9 .pt-5 .col ul li:nth-child(1) a {
      padding: 12px 20px 14px 10px;
      border-radius: 0; }
  body .Shop_list .container .row .col-md-9 .pt-5 .col ul li:nth-child(2) {
    padding-left: 4px;
    font-size: 12px; }
    body .Shop_list .container .row .col-md-9 .pt-5 .col ul li:nth-child(2) a {
      padding: 12px 20px 14px 10px;
      border-radius: 0; }
  body .Shop_list .container .row .col-md-9 .pt-5 .col ul li:nth-child(3) {
    padding-left: 6px; }
    body .Shop_list .container .row .col-md-9 .pt-5 .col ul li:nth-child(3) a {
      border-radius: 0;
      padding: 10.5px; }
  body .Shop_list .container .to-top {
    right: 20px;
    border-radius: 100%;
    bottom: 10px;
    background-color: #8b959b;
    position: fixed; }
    body .Shop_list .container .to-top .btn a{
      color: white; }
      body .Shop_list .container .to-top .btn a i {
        padding: 8px 6px;
        font-size: 20px; }
  body .Home {
    background-image: url("../images/banner/bg3-banner7.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 391px; }
    body .Home .container .row {
      padding-top: 80px;
      padding-left: 170px; }
      body .Home .container .row .col h4 {
        width: 325px;
        padding-left: 6px;
        border-radius: 6px;
        background-color: #4e555b; }
        body .Home .container .row .col h4 small {
          margin-top: 0;
          font-weight: 100; }
      body .Home .container .row .col h1 {
        padding-left: 6px;
        width: 425px;
        background-color: #4e555b;
        border-radius: 10px; }
        body .Home .container .row .col h1 .display-4 {
          font-weight: bold; }
      body .Home .container .row .col .btn {
        font-weight: normal;
        width: 220px;
        height: 70px; }
    body .Home .white .container .row .col-md-3 .row .col-md-2 .btn i {
      color: white; }
  body .home .container .row .col-md-3 .row:nth-child(1) {
    width: 255px; }
    body .home .container .row .col-md-3 .row:nth-child(1) .col-md-2 {
      color: white;
      font-size: 22px;
      background-color: rgba(242, 47, 165, 0.5);
      height: 53px; }
    body .home .container .row .col-md-3 .row:nth-child(1) .col-md-10 {
      font-size: 23px;
      height: 53px;
      color: white;
      background-color: rgba(242, 47, 165, 0.5); }
  body .home .container .row .col-md-3 .row:nth-child(2) {
    width: 255px;
    padding-left: 1px; }
    body .home .container .row .col-md-3 .row:nth-child(2) .table tr td {
      font-size: 13px;
      color: #4e555b;
      padding: 13px 0 15px 21px; }
  body .home .container .row .col-md-6 .row .col-md-6:nth-child(1) {
    padding-right: 2px; }
    body .home .container .row .col-md-6 .row .col-md-6:nth-child(1) img {
      width: 99%; }
  body .home .container .row .col-md-6 .row .col-md-6:nth-child(2) {
    padding-left: 2px; }
    body .home .container .row .col-md-6 .row .col-md-6:nth-child(2) img {
      width: 99%; }
  body .home .container .row .col-md-3:nth-child(3) {
    max-width: 285px; }
    body .home .container .row .col-md-3:nth-child(3) .summer p {
      font-size: 22px;
      font-weight: bold; }
      body .home .container .row .col-md-3:nth-child(3) .summer p span {
        margin-left: 40px; }
        body .home .container .row .col-md-3:nth-child(3) .summer p span .btn:nth-child(1) {
          background-color: #8e9ba4;
          padding: 1px 8px;
          margin-right: -3px;
          margin-bottom: 7px; }
          body .home .container .row .col-md-3:nth-child(3) .summer p span .btn:nth-child(1) i {
            font-size: 18px;
            color: rgba(250, 250, 250, 0.59); }
        body .home .container .row .col-md-3:nth-child(3) .summer p span .btn:nth-child(2) {
          background-color: #8e9ba4;
          padding: 1px 8px;
          margin-right: -3px;
          margin-bottom: 7px; }
          body .home .container .row .col-md-3:nth-child(3) .summer p span .btn:nth-child(2) i {
            font-size: 18px;
            color: white; }
    body .home .container .row .col-md-3:nth-child(3) .summer .row {
      margin: 0;
      width: 255px; }
      body .home .container .row .col-md-3:nth-child(3) .summer .row .work {
        position: relative;
        width: 121px;
        margin-left: 4px; }
        body .home .container .row .col-md-3:nth-child(3) .summer .row .work img {
          width: 70%;
          height: 80%;
          margin-left: 15px; }
        body .home .container .row .col-md-3:nth-child(3) .summer .row .work p {
          font-size: 14px;
          text-align: center;
          color: #aebcc2;
          line-height: 14px; }
        body .home .container .row .col-md-3:nth-child(3) .summer .row .work .next {
          height: 16px;
          position: absolute;
          top: 0;
          background-color: red;
          left: 0; }
          body .home .container .row .col-md-3:nth-child(3) .summer .row .work .next p {
            color: white;
            font-size: 10px;
            padding: 0 3px; }
  body .home .container .ml-0 {
    width: 1140px; }
    body .home .container .ml-0 .col p {
      padding-bottom: 8px; }
      body .home .container .ml-0 .col p b {
        font-size: 24px; }
    body .home .container .ml-0 .col .progress {
      height: 3px; }
      body .home .container .ml-0 .col .progress .progress-bar {
        width: 13%;
        background-color: #f22fa5; }
    body .home .container .ml-0 .col .row .col .row .col-md-4 p {
      background-color: #ccdae0; }
      body .home .container .ml-0 .col .row .col .row .col-md-4 p i {
        font-size: 50px;
        color: #4e555b; }
    body .home .container .ml-0 .col .row .col .row .col-md-8 p:nth-child(1) {
      background-color: #ccdae0;
      margin: 0;
      padding: 0 0 0 20px;
      font-size: 24px;
      color: #d84d91;
      border-right: 1px dotted black; }
    body .home .container .ml-0 .col .row .col .row .col-md-8 p:nth-child(2) {
      padding-left: 20px;
      border-right: 1px dotted black;
      line-height: 22px;
      background-color: #ccdae0; }
    body .home .container .ml-0 .col .row .col:nth-child(4) .row .col-md-8 p {
      border-right: none; }
  body .home .container .pt-4 .col .d-flex {
    height: 50px; }
    body .home .container .pt-4 .col .d-flex .w-50:nth-child(1) p {
      font-size: 30px; }
    body .home .container .pt-4 .col .d-flex .w-50:nth-child(2) {
      padding-top: 10px; }
      body .home .container .pt-4 .col .d-flex .w-50:nth-child(2) i {
        font-size: 24px;
        background-color: #8b959b;
        color: white; }
  body .home .container .pt-4 .col .progress {
    height: 3px; }
    body .home .container .pt-4 .col .progress .progress-bar {
      width: 13%;
      background-color: #d84d91; }
  body .home .container .pt-3 .col {
    max-width: 209px;
    position: relative; }
    body .home .container .pt-3 .col:hover .men {
      opacity: 1; }
    body .home .container .pt-3 .col:hover p button:nth-child(1) {
      opacity: 1; }
    body .home .container .pt-3 .col:hover p button:nth-child(2) {
      background-color: blue;
      color: white; }
      body .home .container .pt-3 .col:hover p button:nth-child(2) span {
        color: white; }
    body .home .container .pt-3 .col:hover p button:nth-child(3) {
      opacity: 1; }
    body .home .container .pt-3 .col img {
      border-bottom: 1px solid #ccdae0; }
    body .home .container .pt-3 .col .text-center {
      padding-top: 15px; }
    body .home .container .pt-3 .col .book .w-25 .progress {
      height: 1px; }
      body .home .container .pt-3 .col .book .w-25 .progress .progress-bar {
        width: 100%;
        background-color: #b8c2c8; }
    body .home .container .pt-3 .col .book .w-50 {
      max-width: 90px;
      padding-left: 3px; }
      body .home .container .pt-3 .col .book .w-50 i {
        margin-top: 6px;
        vertical-align: middle;
        color: #fcaa04;
        font-size: 12px; }
      body .home .container .pt-3 .col .book .w-50 i:nth-child(5) {
        color: #8b959b; }
    body .home .container .pt-3 .col p del {
      font-size: 12px;
      color: #aebbc1; }
    body .home .container .pt-3 .col p span {
      padding-left: 4px;
      font-size: 19px;
      color: #535a62; }
    body .home .container .pt-3 .col p button:nth-child(1) {
      opacity: 0; }
      body .home .container .pt-3 .col p button:nth-child(1) i {
        vertical-align: middle;
        font-size: 18px;
        color: white; }
    body .home .container .pt-3 .col p button:nth-child(2) {
      width: 110px;
      height: 34px; }
      body .home .container .pt-3 .col p button:nth-child(2) span {
        font-size: 13px; }
      body .home .container .pt-3 .col p button:nth-child(2) i {
        font-size: 11px;
        vertical-align: center; }
    body .home .container .pt-3 .col p button:nth-child(3) {
      opacity: 0; }
      body .home .container .pt-3 .col p button:nth-child(3) i {
        vertical-align: middle;
        font-size: 18px;
        color: white; }
    body .home .container .pt-3 .col .men {
      opacity: 0;
      position: absolute;
      background-color: red;
      top: 3px;
      height: 30px;
      right: 0; }
      body .home .container .pt-3 .col .men p {
        color: white;
        font-size: 14px; }
        body .home .container .pt-3 .col .men p i {
          color: white;
          font-size: 12px; }
  body .home .container .row:nth-child(5) {
    max-width: 1140px;
    margin: 40px 0; }
  body footer .container .row .col p b {
    font-size: 16px; }
  body footer .container .row .col p {
    margin-bottom: 8px;
    color: #a0abb1;
    font-size: 12px; }
    body footer .container .row .col p i {
      vertical-align: center;
      padding: 3px;
      font-size: 8px;
      border: 1px solid #fdb517;
      border-radius: 100%; }
  body footer .container .row .col p input {
    height: 45px;
    margin-right: 3px;
    width: 290px; }
  body footer .container .row .col p button {
    margin-bottom: 4px;
    border-radius: 0;
    height: 45px; }
    body footer .container .row .col p button i {
      font-size: 18px; }
  body footer .container .row .col p img {
    font-size: 14px; }
  body footer .py-2 {
    background-color: black; }
    body footer .py-2 .container .row .col p {
      padding-top: 10px;
      padding-bottom: 5px; }

/*# sourceMappingURL=main.css.map */
